# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python cache
*.log

# Media
media/*
!media/.gitkeep
